@use 'styles/scss/variables' as *;


.dashboard-status-container {
    mat-card {
        // margin-left: 10px;
        // height: 150px;
        // margin-right: 10px;
        // background-color: white;
        // text-align: center;
        // padding-top: 15px;
        // width: 85%;
    }

    .icon-container {
        border-radius: 21px;
        color: $white;
        margin-bottom: 15px;
        background: #7e8891;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-footer {
        margin-top: $mt10;
        color: $grey;
        font-size: 12px;
    }

    .card-body span {
        font-weight: 500;
        font-size: 16px;
        color: $black;
    }

    // Add margin for mat-card when screen size is less than 767px
    @media (max-width: 767px) {
        .data-card {
            mat-card {
                margin: 10px 30px; // Adjust the margin as needed
            }
        }
    }
}