<div class="generic-container pt-4">
  <div
    class="flex w-full flex-col md:flex-row items-center justify-center md:justify-between gap-2 pr-4"
  >
    <div class="">
      <h4 class="text-xl pl-4 font-serif" style="color: #165d51">
        {{ title }}
        <span class="show-in-pdf"
          >( {{ dateValue.startDate | date: 'mediumDate' }} -
          {{ dateValue.endDate | date: 'mediumDate' }} )</span
        >
      </h4>
    </div>
    <div class="flex flex-col md:flex-row justify-end items-start gap-1 md:gap-4 hide-in-pdf">
      @if (showSearch) {
        <mat-form-field class="ams-small mb-0 md:-mb-5 mr-1 w-full md:w-55" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="searchText" />
          @if (searchText) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = ''">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }
      @if (showDateRange) {
        <div>
          <mat-form-field appearance="outline" class="ams-small ml-2 mt-0">
            <mat-label>Duration</mat-label>
            <mat-select
              [(ngModel)]="selectedValue"
              (ngModelChange)="periodChange($event)"
              name="period"
            >
              @for (period of periods; track period) {
                <mat-option [value]="period.value">{{ period.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <!-- <app-date-range-picker
            [value]="dateValue"
            (selectionChange)="dateChange($event)"
          ></app-date-range-picker> -->
        </div>
      }
      <div class="flex w-full md:w-auto gap-4 justify-center">
        <button
          mat-mini-fab
          aria-label="Refresh"
          (click)="onRefresh()"
          class="primary"
          matTooltip="Refresh"
        >
          <mat-icon>sync</mat-icon>
        </button>

        @if (buttonFeature) {
          <button
            mat-mini-fab
            aria-label="Download PDF"
            (click)="btnClick.emit()"
            matTooltip="Download"
            class="secondary"
          >
            <mat-icon>{{ buttonFeature }}</mat-icon>
          </button>
        }
        <button
          mat-mini-fab
          aria-label="Create User"
          (click)="onAdd()"
          matTooltip="Create"
          class="secondary"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
  @if (extraInfos.length > 0) {
    <div class="flex flex-wrap items-center justify-center md:justify-start gap-4 p-2 pt-4">
      @for (info of extraInfos; track info) {
        <div class="bg-gray-100 p-2 rounded shadow-sm text-[#177b1f] text-sm font-bold">
          <span class="text-[#177b1f] text-sm">{{ info.label }} : </span>
          <span class="font-bold">{{ info.value }}</span>
        </div>
      }
    </div>
  }
  <div class="pt-2" id="generic-data-table">
    <mat-card appearance="outlined">
      <mat-card-content>
        <app-generic-table
          [data]="data"
          [displayedColumns]="displayColumns"
          [showPagination]="true"
          [sticky]="sticky"
          [showSearch]="showSearch"
          [searchText]="searchText"
          (editData)="onEditDetails($event)"
          (deleteData)="onDeleteDetails($event)"
        >
        </app-generic-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
