<div class="worksheet-filter-container">
  <h4 class="text-xl pb-2">Tank Details</h4>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
    <div class="col-span-2 grid grid-cols-1 lg:grid-cols-3 gap-2">
      <div class="w-full">
        <mat-radio-group
          [value]="worksheetFilter.tankTypeId"
          aria-label="Select an option"
          (change)="onTankTypeChange($event)"
        >
          <mat-radio-button [value]="1">Machinery</mat-radio-button>
          <mat-radio-button [value]="2">Conventional</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="w-full">
        <mat-form-field appearance="outline" class="ams-small w-full">
          <mat-label>User</mat-label>
          <mat-select
            [value]="worksheetFilter.userId"
            (selectionChange)="onUserChange($event.value)"
          >
            @for (user of userDetails; track user) {
              <mat-option [value]="user.id"
                >{{ user.firstName || 'All' }} {{ user.lastName }}</mat-option
              >
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field appearance="outline" class="ams-small w-full">
          <mat-label>Status</mat-label>

          <mat-select
            [value]="worksheetFilter.statusId"
            (selectionChange)="onStatusChange($event.value)"
          >
            @for (option of statusDetails; track option) {
              <mat-option [value]="option.id">{{ option.value || 'All' }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2">
      <div class="w-full">
        <button mat-raised-button color="primary" (click)="onRefresh()" class="w-full">
          Refresh
          <mat-icon>sync</mat-icon>
        </button>
      </div>

      <div class="w-full">
        <button mat-flat-button color="secondary" (click)="onCreateWorksheet()" class="w-full">
          Create workflow
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
