.worksheet-filter-container {

    padding-top: 25px;
    width: 100%;

    .filter-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4;
        justify-content: space-between;

        // .dropdown-items {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-around;
        // }
    }

    // Add padding for screens less than 1024px
    @media (max-width: 1024px) {
        padding: 10px; // Adjust the padding value as needed
    }
}