<div class="worksheet-filter-container">
  <h4 class="head">Tank Details</h4>

  <div class="filter-section">
    <div>
      <mat-radio-group value="1" aria-label="Select an option">
        <mat-radio-button value="1">Machinery</mat-radio-button>
        <mat-radio-button value="2">Conventional</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <mat-form-field appearance="outline" class="ams-small">
        <mat-label>User</mat-label>
        <mat-select [(ngModel)]="selectedUser" (selectionChange)="onUserChange($event.value)">
          @for (user of userDetails; track user) {
            <mat-option [value]="user.id">{{ user.firstName }}&nbsp;{{ user.lastName }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="ams-small">
        <mat-label>Status</mat-label>

        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChange($event.value)">
          @for (option of statusDetails; track option) {
            <mat-option [value]="option.id">{{ option.value }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="onRefresh()">
        Refresh
        <mat-icon>sync</mat-icon>
      </button>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="onCreateWorksheet()">
        Create workflow
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
