<div>
  <div class="flex flex-col md:flex-row justify-between items-center mx-4 pt-6 gap-4">
    <h4 class="text-xl pl-4 font-serif font-bold text-[#165d51]">Harvest Details</h4>
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div class="flex flex-row gap-2">
        <button
          aria-label="Go to transit list"
          [routerLink]="['/worksheet/transit']"
          mat-mini-fab
          matTooltip="Transit"
          class="secondary"
        >
          <mat-icon>local_shipping</mat-icon>
        </button>

        <button
          aria-label="Go to Restock Page"
          [routerLink]="['/worksheet/restock']"
          mat-mini-fab
          matTooltip="Restock"
          class="secondary"
        >
          <mat-icon>warehouse</mat-icon>
        </button>
        <button
          mat-mini-fab
          aria-label="worksheet list"
          (click)="onClickBack()"
          matTooltip="Worksheets"
          class="secondary"
        >
          <mat-icon>home</mat-icon>
        </button>

        <button
          mat-mini-fab
          aria-label="worksheet refresh"
          (click)="onRefresh()"
          class="primary"
          matTooltip="Refresh"
        >
          <mat-icon>sync</mat-icon>
        </button>
      </div>
      <mat-form-field class="ams-small -mb-5 mr-1 w-55" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" />
        @if (searchText) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = ''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </div>
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    (selectedTabChange)="loadData($event)"
    [selectedIndex]="selectedTab"
  >
    <mat-tab label="Holding Tanks">
      <div>
        <app-harvest-list
          key="millions"
          [unitId]="unitId"
          [searchText]="searchText"
        ></app-harvest-list>
      </div>
    </mat-tab>
    <mat-tab label="Cold Storage">
      <div>
        <app-harvest-list key="frozen_cups" [unitId]="unitId"></app-harvest-list>
      </div>
    </mat-tab>
    <mat-tab label="Conversion Logs">
      <div>
        <app-harvest-conversion-logs></app-harvest-conversion-logs>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
