<mat-card appearance="outlined">
  <div class="tank-section flex flex-col">
    <span class="text-xl pl-4 pt-4 font-semibold font-sans text-center">{{ title }}</span>
    <div class="flex flex-row gap-4 flex-wrap items-center justify-center mt-4 pl-4">
      <span class="flex items-center gap-1">
        <span
          class="inline-block w-4 h-4 rounded-full border-2 border-yellow-600 bg-yellow-200"
        ></span>
        <span class="text-xs text-gray-700">Ready For Stocking</span>
      </span>
      <span class="flex items-center gap-1">
        <span
          class="inline-block w-4 h-4 rounded-full border-2 border-purple-600 bg-purple-200"
        ></span>
        <span class="text-xs text-gray-700">In Culture</span>
      </span>
      <span class="flex items-center gap-1">
        <span
          class="inline-block w-4 h-4 rounded-full border-2 border-green-600 bg-green-200"
        ></span>
        <span class="text-xs text-gray-700">Ready for Harvest</span>
      </span>
      <span class="flex items-center gap-1">
        <span class="inline-block w-4 h-4 rounded-full border-2 border-sky-600 bg-sky-200"></span>
        <span class="text-xs text-gray-700">Washing</span>
      </span>
      <span class="flex items-center gap-1">
        <span class="inline-block w-4 h-4 rounded-full border-2 border-gray-600 bg-gray-200"></span>
        <span class="text-xs text-gray-700">Empty</span>
      </span>
    </div>
    <div class="grid grid-cols-5 gap-1 gap-y-4 p-4 md:p-8">
      <ng-container *ngFor="let tank of tanks">
        <div
          class="tank-card cursor-pointer"
          [ngClass]="tank.statusShort"
          (click)="tankSelected.emit(tank)"
        >
          <div class="tank-number">#{{ tank.tankNumber }}</div>
          <!-- <div class="tank-status">{{ tank.status | titlecase }}</div> -->
        </div>
      </ng-container>
    </div>
  </div>
</mat-card>
