<div>
  @if (userAction === userActions.LIST) {
    @if (tabIndex === 0) {
      <app-generic-data
        [title]="formTitle.USER"
        [data]="tableData"
        [displayColumns]="displayColumnsUser"
        (refreshPage)="getUsers()"
        (addData)="addNew()"
        (editData)="editDetails($event)"
        (deleteData)="deleteDetails($event)"
      ></app-generic-data>
    } @else if (tabIndex === 1) {
      <app-generic-data
        [title]="formTitle.UNIT_SECTOR"
        [data]="tableSectorData"
        [displayColumns]="displayColumnsSectors"
        (addData)="addNew()"
        (editData)="editDetails($event)"
        (deleteData)="deleteDetails($event)"
      ></app-generic-data>
    } @else if (tabIndex === 2) {
      <app-generic-data
        [title]="formTitle.HARVEST_TYPE"
        [data]="tableHarvestData"
        [displayColumns]="displayColumnsHarvest"
        (addData)="addNew()"
        (editData)="editDetails($event)"
        (deleteData)="deleteDetails($event)"
      ></app-generic-data>
    } @else if (tabIndex === 3) {
      <app-generic-data
        [title]="formTitle.WORKSHEET_UNIT"
        [data]="tableWorksheetData"
        [displayColumns]="displayColumnsWorksheet"
        (addData)="addNew()"
        (editData)="editDetails($event)"
        (deleteData)="deleteDetails($event)"
      ></app-generic-data>
    } @else if (tabIndex === 4) {
      <app-generic-data
        [title]="formTitle.UNITS"
        [data]="tableUnitsData"
        [displayColumns]="displayColumnsUnits"
        (addData)="addNew()"
        (editData)="editDetails($event)"
        (deleteData)="deleteDetails($event)"
      ></app-generic-data>
    }
  } @else if (userAction === userActions.ADD || userAction === userActions.EDIT) {
    <app-form-generator
      [formStructure]="formConfigData"
      [formDetails]="formDetails"
      [getRawData]="true"
      (moveBack)="moveBack()"
      (formData)="submitFormData($event)"
    />
  }
</div>
