.tank-container {
    margin: 20px;
    padding: 10px;
}

.table-header {
    width: 100%;
    padding-left: 2%;
}

.table-header td {
    width: 20%;
    
}

.table-header td:first-child {
    width: 5%;
}

.mat-detail-card {
    margin-top: 10px;
    background-color: white;
}

.user-img {
    width: 12%;
}

.head{
    color: #1aa3a0;
}

.tbl-header{
    color: #1aa3a0;
    font-weight: bold;
}