<div class="tank-container">
    <h1 class="head">Tank Details</h1>
<div>
<mat-card appearance="outlined">
    <mat-card-content>
        <table class="table-header">
            <tr>
                <td> <mat-checkbox></mat-checkbox></td>
                <td class="tbl-header">Tank Number</td>
                <td class="tbl-header">Type</td>
                <td class="tbl-header">Assigned User</td>
                <td class="tbl-header">Status</td>
                <td class="tbl-header">Action</td>
            </tr>
        </table>
    </mat-card-content>
  </mat-card>
</div>
<div>
    <mat-card appearance="outlined" class="mat-detail-card">
        <mat-card-content>
            <table class="table-header">
                <tr>
                    <td> <mat-checkbox></mat-checkbox></td>
                    <td>Tank 1</td>
                    <td>Machinery</td>
                    <td><img src="assets/images/user.png" alt="User" class="user-img"><label>Tiago</label></td>
                    <td>Open/Free</td>
                    <td><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="preview"></mat-icon></td>
                </tr>
            </table>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mat-detail-card">
        <mat-card-content>
            <table class="table-header">
                <tr>
                    <td> <mat-checkbox></mat-checkbox></td>
                    <td>Tank 2</td>
                    <td>Machinery</td>
                    <td><img src="assets/images/user.png" alt="User" class="user-img">Juddy hops</td>
                    <td>Open/Free</td>
                    <td><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="preview"></mat-icon></td>
                </tr>
            </table>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mat-detail-card">
        <mat-card-content>
            <table class="table-header">
                <tr>
                    <td> <mat-checkbox></mat-checkbox></td>
                    <td>Tank 3</td>
                    <td>Machinery</td>
                    <td><img src="assets/images/user.png" alt="User" class="user-img">Sid</td>
                    <td>Open/Free</td>
                    <td><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="preview"></mat-icon></td>
                </tr>
            </table>
        </mat-card-content>
      </mat-card>
    </div>
</div>
