@use 'styles/scss/variables' as *;
@use '@angular/material' as mat;

.worksheet-container {

    .table-container {

        max-width: 100%;
        overflow-y: auto;
        height: calc(100vh - 420px);
        min-height: 350px;

        .mat-mdc-header-row {
            background-color: #eaeded; // #dff1f1;
        }

        .past-class {
            color: rgb(241, 15, 15);
        }

        .future-class {
            color: rgb(13, 212, 13)
        }

        // Set height to 380px for mobile screens
        @media (max-width: 767px) {
            height: 380px;
        }
    }
}