<div class="generic-table-container mat-elevation-z8 table-responsive" id="generic-table-container">
  <table mat-table [dataSource]="dataSource" class="mat-table">
    <!-- Dynamic Column Definitions -->
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
      [sticky]="sticky === column"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngClass]="{ 'sticky-border-right': sticky === column }"
      >
        {{ column | underscoreTitlecase }}
      </th>

      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ 'sticky-border-right': sticky === column }"
      >
        @if (column === 'actions' && element.enableEdit) {
          <div class="flex hide-in-pdf">
            <button
              mat-icon-button
              class="primary small"
              [matTooltip]="'Edit'"
              (click)="onEdit(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="warning small"
              [matTooltip]="'Delete'"
              (click)="onDelete(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        } @else {
          {{ element[column] }}
        }
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: !!sticky"></tr>

    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td [attr.colspan]="displayedColumns.length" class="p-4 text-center font-bold">
        No records available!
      </td>
    </tr>
  </table>

  <!-- Pagination -->
  @if (showPagination) {
    <div class="hide-in-pdf">
      <mat-paginator
        [length]="data.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  }
</div>
