<div class="form-generator-container">
  <mat-card appearance="outlined">
    <mat-card-header class="mb-3 ml-0 md:ml-8 flex items-center w-full">
      <div class="w-1/2">
        <mat-card-title> {{ formDetails.title }}</mat-card-title>
        <mat-card-subtitle> {{ formDetails.description }}</mat-card-subtitle>
      </div>
      @if (formDetails.tags && formDetails.tags.length > 0) {
        <div class="flex flex-row items-center gap-4 justify-end flex-wrap w-1/2 md:pr-16">
          @for (item of formDetails.tags; track item) {
            <mat-chip class="text-xs">{{ item }}</mat-chip>
          }
        </div>
      }
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="px-0 py-8 md:p-8">
        <div class="form-fields">
          <div [class]="formDetails.container" rowHeight="80px">
            <ng-container *ngFor="let control of formStructure">
              @if (isFormControlActive(control.name)) {
                <div class="w-full" [class]="control.class">
                  @if (textInputTypes.includes(control.type)) {
                    <mat-form-field appearance="outline" class="ams-small w-full">
                      <mat-label>{{ control.label }}</mat-label>
                      @if (control.type === inputTypes.NUMBER) {
                        <input
                          matInput
                          [formControlName]="control.name"
                          [type]="control.type"
                          (change)="onTextChange($event, control.name, control.dependents)"
                        />
                      } @else if (control.type === inputTypes.TEXTAREA) {
                        <textarea matInput [formControlName]="control.name"></textarea>
                      } @else {
                        <input
                          matInput
                          [formControlName]="control.name"
                          [type]="control.type"
                          (change)="onTextChange($event, control.name, control.dependents)"
                        />
                      }
                      @if (
                        dynamicForm.controls[control.name].invalid &&
                        dynamicForm.controls[control.name].touched
                      ) {
                        <mat-error>
                          {{ getErrorMessage(control) }}
                        </mat-error>
                      }

                      @if (control.meta?.hint) {
                        <mat-hint> {{ control.meta?.hint }}</mat-hint>
                      }
                    </mat-form-field>
                  } @else if (control.type === inputTypes.RADIO) {
                    <label>{{ control.label }}</label>
                    <mat-radio-group [ariaLabel]="control.label" [formControlName]="control.name">
                      @for (item of control.options; track item.label) {
                        <mat-radio-button [value]="item.value">{{ item.label }}</mat-radio-button>
                      }
                    </mat-radio-group>
                  } @else if (control.type === inputTypes.SELECT) {
                    <mat-form-field appearance="outline" class="ams-small w-full">
                      <mat-label>{{ control.label }}</mat-label>
                      <mat-select
                        [formControlName]="control.name"
                        [multiple]="control.isMultiple"
                        (selectionChange)="
                          onValueChange($event.value, control.name, control.options)
                        "
                      >
                        @for (item of control.options; track item) {
                          <mat-option [value]="item.value" [disabled]="item.disabled"
                            >{{ item.label }}
                            @if (item.tooltip) {
                              <mat-icon [matTooltip]="item.tooltip">info</mat-icon>
                            }
                          </mat-option>
                        }
                      </mat-select>
                      @if (
                        dynamicForm.controls[control.name].invalid &&
                        dynamicForm.controls[control.name].touched
                      ) {
                        <mat-error>
                          {{ getErrorMessage(control) }}
                        </mat-error>
                      }
                      @if (control.meta?.hint) {
                        <mat-hint
                          >{{ getControlValue(control.name)?.length }}
                          {{ control.meta?.hint }}</mat-hint
                        >
                      }
                    </mat-form-field>
                  } @else if (control.type === inputTypes.BUTTON_TOGGLE) {
                    <div class="w-full flex flex-row items-center">
                      <label>{{ control.label }}</label>
                      <mat-button-toggle-group
                        [formControlName]="control.name"
                        [name]="control.name"
                        [ariaLabel]="control.label"
                        [hideSingleSelectionIndicator]="true"
                        class="w-full"
                        (change)="onValueChange($event.value, control.name, control.options)"
                      >
                        @for (item of control.options; track item) {
                          <mat-button-toggle class="w-1/2" [value]="item.value">{{
                            item.label
                          }}</mat-button-toggle>
                        }
                      </mat-button-toggle-group>
                    </div>
                  } @else if (control.type === inputTypes.SLIDER) {
                    <div class="w-full flex flex-row items-center">
                      <label>{{ control.label }}</label>
                      <mat-slider
                        class="w-full"
                        [min]="control.meta?.min"
                        [max]="control.meta?.max"
                        [step]="control.meta?.step"
                        showTickMarks
                        [displayWith]="displaySliderValue"
                      >
                        <input matSliderThumb [formControlName]="control.name" />
                      </mat-slider>
                      <mat-chip
                        >{{ getControlValue(control.name) }} {{ control.meta?.unitLabel }}</mat-chip
                      >
                    </div>
                  } @else if (
                    control.type === inputTypes.DIVIDER &&
                    dynamicForm.controls[control.name].enabled
                  ) {
                    <mat-divider class="border-2 border-gray-100"></mat-divider>
                    <mat-label class="text-xl flex mt-4 md:mt-8 md:-mb-8">{{
                      control.label
                    }}</mat-label>
                  }
                </div>
              }
            </ng-container>
          </div>
        </div>

        <div class="flex justify-center pt-10">
          <button
            type="button"
            class="sm:w-full md:w-32 mr-8"
            mat-raised-button
            (click)="onMoveBack()"
          >
            Back
          </button>
          <button class="sm:w-full md:w-32" mat-flat-button type="submit">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
