<div>
  <div class="flex flex-col md:flex-row justify-between mt-2 pr-3 items-center gap-1">
    <div class="flex flex-col md:flex-row justify-between items-center gap-1">
      <div class="text-[#177b1f] text-sm">
        Overall Count - <span class="font-bold">{{ totalHarvestCount }}</span> {{ unitName }}
      </div>
      <mat-divider vertical class="mx-2 h-0 md:h-6 w-3"></mat-divider>
      <div class="text-[#177b1f] text-sm pl-2">
        Available for Transit - <span class="font-bold">{{ availableCount }}</span> {{ unitName }}
      </div>
    </div>
    <button class="primary small ml-2" mat-flat-button (click)="openDialog()" matTooltip="Transit">
      Add Transit
    </button>
  </div>
  <mat-card appearance="outlined">
    <mat-card-content>
      <section class="table-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
          <!-- Tank Column -->
          <ng-container matColumnDef="tank" sticky>
            <th mat-header-cell *matHeaderCellDef class="min-w-30 sticky-border-right">Tank</th>
            <td mat-cell *matCellDef="let element" class="min-w-30 sticky-border-right tank-column">
              <div class="flex flex-row items-center gap-1">
                {{ element.worksheet?.tankType?.value }} #{{ element.worksheet?.tankNumber }}
                @if (element.remarks) {
                  <mat-icon [matTooltip]="element.remarks" class="cursor-pointer">info</mat-icon>
                }
              </div>
            </td>
          </ng-container>

          <!-- Harvest Column -->
          <ng-container matColumnDef="harvest">
            <th mat-header-cell *matHeaderCellDef class="min-w-24">Harvest Type</th>
            <td mat-cell *matCellDef="let element" class="min-w-24">
              {{ element.worksheet?.harvestType?.value }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center">
              <div class="pl-10">Date</div>
            </th>
            <td mat-cell *matCellDef="let element" class="min-w-30 text-center">
              {{ element.generatedAt | date: 'short' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="measured_by">
            <th mat-header-cell *matHeaderCellDef class="min-w-35 text-center">Measured By</th>
            <td mat-cell *matCellDef="let element" class="min-w-35 text-center">
              <div class="flex flex-row items-center">
                @if (element.measuredBy) {
                  <div class="user"><mat-icon>person</mat-icon></div>
                  <p class="font-medium">{{ element.measuredBy?.value || '-' }}</p>
                } @else {
                  <p>-</p>
                }
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="count_measured">
            <th mat-header-cell *matHeaderCellDef class="min-w-32 text-center">Measured Count</th>
            <td mat-cell *matCellDef="let element" class="min-w-32 text-center">
              {{ element.count || '-' }} {{ element.unit.value }}
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="count_remaining">
            <th mat-header-cell *matHeaderCellDef class="min-w-32 text-center">Remaining Count</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="min-w-32 text-center text-[#177b1f] font-bold"
            >
              {{ element.countInStock || '-' }} {{ element.unit.value }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="min-w-22 text-center"
            >
              <div class="pr-2">Actions</div>
            </th>
            <td mat-cell *matCellDef="let element" class="min-w-22">
              <!-- <button
                class="primary small"
                mat-icon-button
                (click)="openDialog(element)"
                matTooltip="Transit"
              >
                <div><mat-icon>keyboard_double_arrow_right</mat-icon></div>
              </button> -->
              @if (canAccessAction(element)) {
                <button
                  class="primary small"
                  mat-icon-button
                  (click)="onEdit(element)"
                  matTooltip="Edit"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="pl-1 pr-1"
            [ngClass]="{
              'current-shift-highlight': row.isCurrentShift,
              'previous-shift-highlight': row.isPreviousShift,
            }"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" class="p-4 text-center font-bold">
              No records available!
            </td>
          </tr>
        </table>
      </section>
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
