@use 'styles/scss/variables' as *;
@use '@angular/material' as mat;

.table-container {
  max-width: 100%;
  overflow-y: auto;
  height: calc(100vh - 300px);

  .mat-mdc-row {
    height: 60px;
  }

  .mat-mdc-header-row {
    background-color: #eaeded; // #dff1f1;
  }

  .past-class {
    color: rgb(241, 15, 15);
  }

  .future-class {
    color: rgb(13, 212, 13);
  }

  // Set height to 380px for mobile screens
  @media (max-width: 767px) {
    height: 380px;
  }
}

.popup-container {
  padding: 2rem;

  label {
    font-size: 14px;
    padding-right: 12px;
    white-space: nowrap;
  }

  @include mat.chips-overrides(
    (
      container-height: 22px,
    )
  );
}

:root {
  @include mat.dialog-overrides(
    (
      container-min-width: 600px,
    )
  );
}

.tank-type {
  @include mat.chips-overrides(
    (
      elevated-container-color: $dark-green,
      label-text-color: $white,
    )
  );
}

.harvest-type {
  @include mat.chips-overrides(
    (
      elevated-container-color: $light-green,
      label-text-color: $dark-green,
    )
  );
}

.user {
  @include mat.icon-overrides(
    (
      color: $dark-green,
    )
  );
}
