<div>
  <mat-card appearance="outlined">
    <mat-card-content>
      <section class="table-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="worksheet" sticky>
            <th mat-header-cell *matHeaderCellDef class="max-w-45 text-center">
              Worksheet Details
            </th>
            <td mat-cell *matCellDef="let element" class="max-w-45 text-center">
              <div class="flex">
                <mat-chip-set>
                  <div class="tank-type flex-1">
                    <mat-chip>
                      {{ element.worksheet?.tankType?.value }} :
                      {{ element.worksheet?.tankNumber }}
                    </mat-chip>
                  </div>
                  <div class="harvest-type flex-1">
                    <mat-chip>{{ element.worksheet?.harvestType?.value }}</mat-chip>
                  </div>
                </mat-chip-set>
              </div>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="count_measured">
            <th mat-header-cell *matHeaderCellDef class="min-w-32 text-center">Measured Count</th>
            <td mat-cell *matCellDef="let element" class="min-w-32 text-center">
              {{ element.count || '-' }} {{ element.unit.value }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="count_remining">
            <th mat-header-cell *matHeaderCellDef class="min-w-32 text-center">Remining Count</th>
            <td mat-cell *matCellDef="let element" class="min-w-32 text-center">
              {{ element.countInStock || '-' }} {{ element.unit.value }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="measured_by">
            <th mat-header-cell *matHeaderCellDef class="min-w-35 text-center">Measured By</th>
            <td mat-cell *matCellDef="let element" class="min-w-35 text-center">
              <div class="flex flex-row items-center">
                @if (element.measuredBy) {
                  <div class="user"><mat-icon>person</mat-icon></div>
                  <p class="font-medium">{{ element.measuredBy?.value || '-' }}</p>
                } @else {
                  <p>-</p>
                }
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center">
              <div class="pl-10">Date</div>
            </th>
            <td mat-cell *matCellDef="let element" class="min-w-30 text-center">
              {{ element.createdAt | date: 'short' }}
            </td>
          </ng-container>

          <!-- Star Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="min-w-22 text-center"
            >
              <div class="pr-2">Actions</div>
            </th>
            <td mat-cell *matCellDef="let element" class="min-w-22 text-center">
              <button class="primary small" mat-icon-button (click)="openDialog(element)">
                <div class="p-1"><mat-icon>keyboard_double_arrow_right</mat-icon></div>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="pl-1 pr-1"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" class="p-4 text-center font-bold">
              No records available!
            </td>
          </tr>
        </table>
      </section>
      <!-- <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator> -->
    </mat-card-content>
  </mat-card>
</div>
