.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 8%;

    mat-card {
        overflow: hidden;
    }

    mat-card-content {
        padding: 0;
    }

    .login-form-container {
        display: flex;
        padding: 0;

        .login-form {
            width: 100%;
            padding: 3rem 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .login-form-title {
                p {
                    font-family: sans-serif;
                    font-size: 28px;
                    line-height: 0;
                    font-weight: 700;
                    color: #0A3D64FF;

                    mat-icon {
                        color: #e4d71f;
                    }
                }

                .sub-title {
                    font-size: 12px;
                    padding-left: 5px;
                    padding-bottom: 20px;
                    font-weight: 100;
                    margin-top: -10px;
                }
            }

            mat-form-field {
                width: 100%;
                margin-bottom: 1rem;
            }

            button {
                width: 90%;
                margin-top: 1rem;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .login-form-container {
            img {
                display: none;
            }
        }
    }
}