<div class="transit-list-container">
  <div class="flex flex-col md:flex-row justify-between items-center mx-2 pt-4">
    <div class="flex flex-row items-center">
      <h4 class="text-xl pl-2 font-serif font-bold text-[#165d51]">Live Transit</h4>
    </div>
    <div class="flex items-center gap-2">
      <mat-form-field appearance="outline" class="ams-small ml-2 mt-5">
        <mat-label>Filter</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          (ngModelChange)="periodChange($event)"
          name="period"
        >
          @for (period of periods; track period) {
            <mat-option [value]="period.value">{{ period.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button
          aria-label="Go to harvest list"
          [routerLink]="['/worksheet/harvest']"
          mat-mini-fab
          matTooltip="Harvest"
          class="secondary"
        >
          <mat-icon>agriculture</mat-icon>
        </button>
      </div>
      <div>
        <button
          aria-label="Go to Restock Page"
          [routerLink]="['/worksheet/restock']"
          mat-mini-fab
          matTooltip="Restock"
          class="secondary"
        >
          <mat-icon>warehouse</mat-icon>
        </button>
      </div>
      <button
        mat-mini-fab
        aria-label="worksheet refresh"
        (click)="onClickBack()"
        matTooltip="Worksheets"
        class="secondary"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
  <mat-card appearance="outlined" class="-mt-4">
    <mat-card-content>
      <section class="table-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
          <!-- unitSector Column -->
          <ng-container matColumnDef="unitSector">
            <th mat-header-cell *matHeaderCellDef class="min-w-40">Unit Sector</th>
            <td mat-cell *matCellDef="let element" class="min-w-40">
              <span class="font-bold">{{ element.unitSector?.name }}</span>
              <span class="pl-1 text-xs">({{ element.unitSector?.location }})</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="staffInCharge">
            <th mat-header-cell *matHeaderCellDef class="min-w-32">Staff In-Charge</th>
            <td mat-cell *matCellDef="let element" class="min-w-32">
              {{ element.staffInCharge }}
            </td>
          </ng-container>

          <!-- Restock created on Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef class="min-w-32">Created On</th>
            <td mat-cell *matCellDef="let element" class="min-w-32">
              {{ element.generatedAt | date: 'short' }}
            </td>
          </ng-container>

          <!-- Restock created By Column -->
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef class="min-w-32">Created By</th>
            <td mat-cell *matCellDef="let element" class="min-w-32">
              {{ element.createdBy }}
            </td>
          </ng-container>
          <!-- Harvest count Column -->
          <!-- <ng-container matColumnDef="harvestCount">
              <th mat-header-cell *matHeaderCellDef class="min-w-32">Harvest Count</th>
              <td mat-cell *matCellDef="let element" class="min-w-32">
                {{ element.harvest }}
              </td>
            </ng-container> -->

          <!-- Restock count Column -->
          <ng-container matColumnDef="transitCount" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="min-w-40">Count</th>
            <td mat-cell *matCellDef="let element" class="min-w-32 text-[#177b1f] font-bold">
              {{ element.transitCount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="min-w-22 text-center"
            >
              <div class="pr-2">Actions</div>
            </th>
            <td mat-cell *matCellDef="let element" class="min-w-22">
              <button
                class="primary small"
                mat-icon-button
                (click)="openDialog(element)"
                matTooltip="Edit"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                class="warning small"
                [matTooltip]="'Delete'"
                (click)="onDelete(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="pl-1 pr-1"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" class="p-4 text-center font-bold">
              No records available!
            </td>
          </tr>
        </table>
      </section>
    </mat-card-content>
  </mat-card>
</div>
