// font colors
$white: #ffffff !default; // white color
$black: #000000 !default; // black color

$yellow-1: #e4d71f;

$blue-1: #0A3D64FF;

$grey-1: #b3acac;

$dark-green:#07504e;

$mt10: 10px !default; // margin top 10px
$grey:grey;

$m15:15px;
